[2020-11-18 15:07] IzzySoft opened #25 "APK available?"
I see a release, but no way for a non-dev to "get the app". Could you make the (signed) APK available – eg. by attaching it to the release? Thanks in advance!

[2020-11-18 15:48] leonlatsch commented on #25
@IzzySoft The app is currently submitted at GPlay and FDroid. I didn't plan on giving out a signed apk.
Once one or both of the store entries are ready, I will reply here.

[2020-11-18 16:12] IzzySoft commented on #25
@leonlatsch thanks! Of course, if you already submitted it to F-Droid (and our packagers manage to get it into the index in timely manner), there's no need to attach the APK here. I see you submitted it directly via MR (which is why I missed it; I'm rather responsible for RFP, where the Requests For Packaging usually start), and one of our packagers already chimed in – so that shouldn't take too l

[2020-11-18 16:12] #25 closed

[2020-11-19 12:45] leonlatsch commented on #25
@IzzySoft GPlay is now online

[2020-11-19 13:37] IzzySoft commented on #25
Thanks for the pointer! [Added to my app list](https://android.izzysoft.de/applists/category/named/foto_galleries) :smiley:

[2020-11-19 13:51] leonlatsch commented on #25
@IzzySoft Thank you, thats nice :)

[2020-11-19 14:38] IzzySoft commented on #25
Guess I'll have to add a new group for gallery apps with a vault (or vaults which act as gallery, depending on the point-of-view). If I do, I'll move your app into that group so it stands out a bit better.

[2020-11-24 17:29] IzzySoft commented on #25
PS: it might take a little longer until your app will be included at F-Droid (not enough packagers to manage the backlog). My offer with the APK in my repo still stands, should you want it there meanwhile :wink:

[2020-11-25 08:43] leonlatsch commented on #25
Thank you, but I can wait. I think its not good to have versions out there, that dont get updated over a standard channel.
Btw: I updated my mr cause for new versions. Is this the right way, or do I have to wait, till 1.0.0 gets packaged, before I can add version 1.0.1 and 1.0.2

[2020-11-25 10:30] IzzySoft commented on #25
OK, your choice of course :wink: And "standard" is a question of definition :smile:

Sorry, but I'm lacking context – so I have to guess what you are referring to. Yes, of course you can make new releases without having to wait your RFPs are processed. Metadata set up there are cross-checked by the packager who picks them up – and especially version info is **then** set to the latest one available

[2020-11-25 10:47] leonlatsch commented on #25
So the packagers will take care of updating the version, in [my case](https://gitlab.com/fdroid/fdroiddata/-/merge_requests/7737)?
Skipping imterim versions is not a problem for me. I just wondered, if the took version 1.0.0 even if 1.0.2 is alrealy released, so I added 1.0.1 and 1.0.2 to the mr.

[2020-11-25 10:49] leonlatsch commented on #25
How would the update process work with your repository. I just dont want old versions of the app laying around without any "standard" way of updating.

[2020-11-25 11:39] IzzySoft commented on #25
Eh, **that** they will complain about. If it's an MR already, simply adjust it to only have the latest release referenced (avoiding unnecessary builds).

My updater checks for new tags once a day. If found, and there's an APK attached meeting configured criteria¹, it is pulled and placed into my repo. On index build, if the number of available APKs exceeds the configured threshhold (usually 3 APKs

[2020-11-25 12:05] leonlatsch commented on #25
Okay, I will change my mr to only have the newest version.
And I will add APK to the releases, so you can add them to your repository.

[2020-11-25 12:14] IzzySoft commented on #25
Thanks!

Depending on your release frequency (and maybe other arguments): Shall I keep it in my repo (daily updates) once it made it to F-Droid.org (approx. weekly updates)? In ~80% of all comparable cases, I remove the app about a week after it got established there. Unless there's demand to keep it. I'm fine with both.

[2020-11-25 12:17] leonlatsch commented on #25
I don't really have a release "schedule". The last 2 updates were hotfixes, for critical bugs and came out the same day. Could take a month till a new release or 2 weeks, so lets see :)

[2020-11-25 12:32] leonlatsch commented on #25
@IzzySoft apks attacked.

[2020-11-25 15:20] IzzySoft commented on #25
Yes, of course – no need to make the decision know. We can see to that once your app got published at "F-Droid proper". And you might have your own reasons (unrelated to the release cycle) for keeping the app in my repo or not. As I wrote, I'm fine with either.

Thanks! Processing them now – will be listed with the next sync in about 4 hours; then you can [find it here](https://apt.izzysoft.de/fdr

[2020-12-30 19:22] VioletFalcon opened #35 "Importing from Android sharing system."
**Is your feature request related to a problem? Please describe.**
Additional steps are required if you want to import a photo from an encrypted base, such as an instant messaging app.

**Describe the solution you'd like**
Make it possible to import photos through the Android sharing system.

**Additional context**
If photos are stored in an encrypted database, you need to save them in the normal

[2020-12-30 19:41] leonlatsch commented on #35
This may be a good idea. I will have a look at it, once I get back home in the new year.

Thank you for the idea and for enjoying Photok :)

[2020-12-30 22:37] ebanDev opened #36 "[Feature] Importing Videos"
**Is your feature request related to a problem? Please describe.**
I'd like to have an option to import videos as well 😁

[2020-12-31 13:42] leonlatsch commented on #36
This is something I already had in mind. I will have to think about it, but it's on my list.

[2021-01-04 00:45] leonlatsch commented on #35
This feature is now in development and will be released with the next version of Photok.

[2021-01-04 20:40] leonlatsch opened #39 "New Credits Page for Icons and Contributors"
With #38 we migrated to Google OSS Activity. So we need to create a new page for the Icon credits. We can also add the contributors to this page and call it "Credits".

[2021-01-09 07:44] Tisckkytt opened #41 "[Feature] Image organization solution"
**Is your feature request related to a problem? Please describe.**

When the vault becomes populated, it becomes hard to find desired pictures quicker.

**Describe the solution you'd like**

Any picture organization solution like Album, Folder or Tags will make it easier.

**Describe alternatives you've considered**

I think maybe a tagging solution will fit best with this app rather than having f

[2021-01-09 11:21] leonlatsch commented on #41
Thats a good Idea. #37 will implement a import overview dialog. Could use that for normal Input too and add tags there.

[2021-01-10 19:19] fux0r2009 commented on #41
Hello, first thanks for the wonderful software very much needed, I would like to add that tags are good but for a lot of people (me included) folders/albums are far more important and useful than tags so it would be really wonderful if you could implement a folder feature in a future release. again thanks for the great work :)

[2021-01-10 19:22] fux0r2009 commented on #36
It would be fantastic to have videos as well !!

[2021-01-11 10:12] #35 closed

[2021-01-11 10:19] leonlatsch commented on #35
Share to Photok was implemented and will be deployed with version 1.2.0.

[2021-01-12 22:42] leonlatsch commented on #41
Tags are much easier to implement, but I think most of the users are used to albums rather than tags. (Me included).

So the feature would look like this:

You can import photos as usual. Once you create an album, the gallery won't show all photos. It will show the created album and a "All Photos" album. I don't know if its going to take place in the current release (1.2.0).

[2021-01-14 15:03] fux0r2009 commented on #41
amazing yes that would be very good! again thank you very much for this wonderful work 💯

[2021-01-14 16:05] Tisckkytt commented on #41
The reason I suggested tag is that, tags could act as albums but at the same time when assigned multiple tags to a single photo it could be a powerful sorting method.

The idea is - Once we've assigned some tags to a picture, the tagnames will appear as a chip

[2021-01-14 16:07] Tisckkytt commented on #41
Sorry, github very conveniently placed the 'Close with comment' button under the text field.

[2021-01-14 17:03] #39 closed

[2021-01-14 18:22] leonlatsch commented on #41
I'd say albums and tags are not excluding each other.
Maybe do an an album feature first and if its not enough, we can do a tag feature.

I think, I will start asking more people about their opinion.

[2021-01-14 20:39] fux0r2009 commented on #41
Yes tags are good to have but most people don't bother with writing tags  (me included I can confirm that none of my friends or colleagues use them either just as an example) but albums on the other hand are a must but having both would definitely be awesome :) but as  @leonlatsch said the priority should be toward what most people use!
And "I will start asking more people about their opinion." is

[2021-01-14 20:52] fux0r2009 opened #44 "[Feature] Hide Photok Icon and Open the Photok by phone Dialer"
**Is your feature request related to a problem? Please describe.**
Not really a problem but just for more stealth and privacy.

**Describe the solution you'd like**
For even more Stealth some apps give the option to hide the Icon of the app as if it is not installed and it can be opened by dialing a code on the phone dialer app which then brings the vault app and ask for password like normal. So i

[2021-01-14 21:00] leonlatsch commented on #44
This should't be too hard to implement. I'll do some research tomorrow.
Cloud even fit in this release.

[2021-01-14 21:36] leonlatsch commented on #44
Did some research, should be able to add the feature in 1.2.0

[2021-01-14 21:44] leonlatsch commented on #41
So I have decided to implement albums in this release and maybe add tags in the future.
Albums are just much more accessable.

[2021-01-14 21:46] leonlatsch commented on #36
Unless someone eles implements this, this feature is going to be implemented in a future release.
I don't want the new features in 1.2.0 to be held back "so long", because this may take kinda long to implement.

But I will do it eventually.

[2021-01-14 22:06] fux0r2009 commented on #44
Wow Didn't expect this so fast your are the Best 👍 👍 👍

[2021-01-14 22:13] fux0r2009 commented on #36
Yes as long as it will be implemented in the future it's not a problem, looking forward to 1.2.0 !!! Best regards :)

[2021-01-15 03:08] OliverLew opened #45 "Use fingerprint reader on devices that support it"
Will you consider this and can it be done? It is much easier than typing a complicated password.

[2021-01-15 09:34] leonlatsch commented on #45
Soooooo. Big topic.

This was considered from the beginning, thats the reason the app requies Android 7.
I would love to implement this, but there are a few things to think about.

Thats what could cause problems.

### An explaination:

The only place your password is "saved", is a bcrypt hash in the app config. It is used to check if you entered the right password.
Your password is also used for

[2021-01-15 11:46] ralaud opened #47 "Donation link"
Maybe add a possibility for donations, like liberapay or patreon. And by the way, nice work!

Best regards!

[2021-01-15 13:53] leonlatsch opened #49 "Internal error messags from Floating Action Menu"
The floating action button to add photos causes some error logs.
If this can't get fixed, maybe we should use another library.

[code]

[2021-01-15 14:28] leonlatsch commented on #47
First of all, thank you.

Haven't considered this yet.
Maybe I will add this at some point, but not now. So I will close this fow now, but I will keep this in mind.

[2021-01-15 14:28] #47 closed

[2021-01-15 14:30] leonlatsch commented on #44
### Refarences for implementation:

- https://stackoverflow.com/questions/8398514/hide-application-icon
- https://stackoverflow.com/questions/56900946/how-to-detect-outgoing-call-number-in-android-q

[2021-01-16 00:29] leonlatsch commented on #44
So I was implementing the feature when I found out [that google is really strict about call permissions. ](https://support.google.com/googleplay/android-developer/answer/10208820?visit_id=637463534264585660-3751760359&rd=1#zippy=%2Calternatives-to-common-uses%2Cpermitted-uses-of-the-sms-call-log-permissions%2Cexceptions%2Cinvalid-uses)

I don't know if we can really do this feature. Need to do som

[2021-01-16 14:36] leonlatsch commented on #44
@fux0r2009 do you have any other idea on how to open the app, when the icon is hidden?

[2021-01-16 14:53] leonlatsch commented on #44
Turns out there is a way with a static secrect code like *#*#123#*#* without any permission.

[2021-01-16 17:13] fux0r2009 commented on #44
Yes that's what I had in mind and it's also what is used in other apps with the same feature! looking forward to the next release :)

[2021-01-16 17:21] fux0r2009 commented on #44
You could also make a feature to disguise app icon with a different generic app name like File Explorer or QR code Scanner... etc for those who don't want to hide the app but just make it less obvious. just a proposition as I personally still prefer to completely hide the app but some people like the other way of disguising the icon too.  anyway It not as important as hiding so up to you @leonlats

[2021-01-16 17:45] fux0r2009 opened #53 "[Features] List of some propositions : Support Password Attempts / Shake your phone to close / Support Fake Passcode"
I have some features you could find intersting and they would enhence Photok a lot :

**- Shake your phone to close Photok in a hurry** : This would come handy if you want to quickly close the app

**- Support Password attempts and option to delete the encrypted database if n attempts are reached**

**- Support Fake Passcode and show fake content when you input fake passcode** : just if forced to

[2021-01-16 17:55] fux0r2009 opened #54 "[Improvement] Add a Rotate Function in the image viewer"
When I add most images to Photok they are not imported in the right position (vertical photos imported as horizontal and there is no way to rotate the image inside Photok)

It would be good to keep the imported position and also to offer a rotation function inside the image viewer to rotate the photos.

[2021-01-16 18:01] fux0r2009 opened #55 "[Feature] Give the option to delete the imported images from the file system"
It would be cool if we could while importing images to photok get those some images automatically deleted from the (visible file system) after their are imported without having to worry about going through all originally imported files and deleting them manually after.

[2021-01-16 18:43] fux0r2009 opened #56 "[Feature] Please consider using SHA3-512 instead of SHA-256 for much improved security"
SHA-512 is more secure than SHA-256 so it would be best if you could implement this security upgrade to the password hashing function.

Also if SHA3-512 (3 generation of SHA) is available for android it would be highly recommended.

Best Regards 👍

[2021-01-16 20:14] leonlatsch commented on #56
I am using SHA 256 on purpose. The files are encrypted with AES-256 so the key must uave 256 bits length.

[2021-01-16 21:03] fux0r2009 commented on #56
I see, I asked you because I read on cryptography forums that on 64bit processors it's always better to use SHA512 with AES 256 as it is more secure and faster (256 in AES is block size but SHA is used to derive the key so it don't have to be 256 bit)

source : https://crypto.stackexchange.com/questions/41476/is-there-any-benefit-from-using-sha-512-over-sha-256-when-aes-just-truncates-it

anyway I

[2021-01-17 18:47] leonlatsch commented on #56
I would consider changing to SHA-512 if it app wasn't released already.
All the keys are SHA-526 and would be invalid.
Also all backups were invalid.

**IF** we do this at some point, we would need to somehow announce this and provice a way to "convert" old backups and safes.

I will keep this in mind but close the issue for now.

Thank you!

[2021-01-17 18:47] #56 closed

[2021-01-17 18:49] leonlatsch commented on #55
This is also one of the things that were "planned in my head" :)
Thank you.

[2021-01-17 18:50] leonlatsch commented on #54
The wrong rotation is a bug that I have encoutered a while back even before release.

So this would be a seperate bug issue. (I will create one)

[2021-01-17 18:58] leonlatsch opened #57 "[Bug] Some photos have wrong orientation."
**Describe the bug**
Some photos have the wrong orientation when imported.

**To Reproduce**
This only happens on a few phones.

In my cases, it only happens with photos taken with the camera.
Also, I could only reproduce it on this devices:

- OnePlus 7 Pro
- Xiaomi Mi 9t Pro
- Xiaomi Note 7 with photos taken by google camera

**Technial Details**
I have no idea why this happens, but it has to do

[2021-01-17 19:00] leonlatsch opened #58 "[Feature] Shake your phone to close Photok in a hurr"
**Is your feature request related to a problem? Please describe.**
Originally suggested by @fux0r2009

**Describe the solution you'd like**
This would come handy if you want to quickly close the app.

[2021-01-17 19:03] leonlatsch opened #59 "[Feature] Password attempts"
**Is your feature request related to a problem? Please describe.**
Originally suggested by @fux0r2009.

**Describe the solution you'd like**
Add an option to delete the encrypted database when n attempts of passwords are reached.

**Additional context**
This would need to be configured.

[2021-01-17 19:07] leonlatsch commented on #53
I have created seperate issues for the suggestions I thought are good, so I will close this one.

Thank you for all of your contributions and your big interest in Photok. If you want, you can sumbit a pr and add yourself to contibutors,json. (Even if you didn't contribute code)
This way to will be shown in the app as a contributor.

[2021-01-17 19:07] #53 closed

[2021-01-17 19:08] leonlatsch commented on #57
@fux0r2009 on which phone did you experience this?

[2021-01-17 19:38] fux0r2009 commented on #57
Xiaomi Note 7 with photos taken by google camera

[2021-01-17 19:40] fux0r2009 commented on #55
Happy to hear it, good job 👍

[2021-01-17 19:44] fux0r2009 commented on #54
Yes but even this bug as long as the user can rotate the images and it is remembered by photok to be kept in that orientation it's still better than no orientation at all, looking forward to it!

[2021-01-17 23:05] leonlatsch commented on #53
@fux0r2009 Have you red my comment? I can also add your entry for you.

[2021-01-18 00:48] fux0r2009 commented on #53
Yes sure that would be a honor hhh thanks 👍

[2021-01-18 01:02] leonlatsch commented on #53
@fux0r2009 NIce.
You can sumbit it yourself or give me the needed information here.

I need: A display name, a short sentence about what you did, some way of contact (email or github name), and (if you have one), a website.

[2021-01-18 01:02] leonlatsch commented on #53
Just look at [this](https://github.com/leonlatsch/Photok/blob/develop/app/src/main/assets/contributors.json) file, if you need context.

[2021-01-18 01:12] fux0r2009 opened #60 "[Bug] "There are no photos in your safe" even though there is still one image in the app."
**Describe the bug**
I noticed that when I add a photo than a second one and then delete one of them, a message in the background shows : "There are no photos in your safe" even though there is still one image in the app.

**I noticed that it happened when there is only one image left in the app.**

**To Reproduce**
Steps to reproduce the behavior:
**1. Add multiple photos 2 or more
2. delete all

[2021-01-18 01:19] leonlatsch commented on #60
I will look at this tomorrow.

[2021-01-18 01:19] fux0r2009 opened #61 "[Feature] Make the app auto lock after it was reduced (Home navigation button is used)"
**Is your feature request related to a problem? Please describe.**
When the we exit the app by using the back navigation button the app locks automatically but when it is reduced using the home navigation button it doesn't lock automatically and stays open and can readily be accessed when using switch navigation button.

**Describe the solution you'd like**
Making the app lock automatically if if

[2021-01-18 01:21] leonlatsch commented on #61
This is already implemented (kind of).
The lock timeout acts in the background. If you set it to "immediately" it will lock, once you navigate from it.

[2021-01-18 01:23] leonlatsch commented on #61
So basically, if its set so 3 Minutes, it will be locked if the app is in background for 3 Minutes.

[2021-01-18 01:27] #61 closed

[2021-01-18 01:31] fux0r2009 commented on #53
Sure here hope it :

  "contribution": "Proposing ideas and reporting bugs",
    "name": "Robert",
    "contact": "Robert2077@protonmail.com",
    "website": "https://github.com/fux0r2009"

[2021-01-18 01:33] leonlatsch commented on #53
Thank you, i will add this tomorrow. It will be in 1.2.0 :)

[2021-01-18 01:33] fux0r2009 commented on #53
Thank you very much

[2021-01-18 01:36] fux0r2009 commented on #61
Yes you are right, sorry my bad, I didn't notice the lockout timer in settings.

[2021-01-18 13:26] leonlatsch commented on #44
This might be the way to go. As of Android 9, the app icon will always be shown, unless its a system app. [Source](https://stackoverflow.com/a/22754642/12025158)

[2021-01-18 17:50] fux0r2009 commented on #44
I see well disguising the app is better than nothing :)

[2021-01-19 23:19] #44 closed

[2021-01-20 01:38] leonlatsch commented on #60
Reproduced on Stock Android 11.
Planned fix for 1.2.0.

[2021-01-20 10:34] #60 closed

[2021-01-20 10:35] leonlatsch commented on #60
Fixed in 1.2.0 ✅

[2021-01-20 23:33] fux0r2009 opened #62 "[Feature] True Black AMOLED Theme"
**Is your feature request related to a problem? Please describe.**
Only simple dark theme is not suitable for most users and many prefers the True Black AMOLED theme which is only Black and white theme for the app. Here is a concept I made with Photoshop of what it would look like:

https://ibb.co/t2jLJxw
https://ibb.co/Zg8Yhtn
https://ibb.co/bPYJ61C

<a href="https://ibb.co/t2jLJxw"><img src="htt

[2021-01-22 14:38] leonlatsch commented on #62
This is a good idea 👍

[2021-01-22 22:27] fux0r2009 commented on #62
Thanks, Glade you like it! as I myself love black themes :)

[2021-01-25 09:00] leonlatsch commented on #41
I did some concepting for the UI and came up with this:

- I think a tab layout will fot best.
- Also, a favorite tab would fit very nice.
- I might try to also implement it
- If it gets too big, it will be a seperate issue

![image](https://user-images.githubusercontent.com/50983026/105683186-a5ffca00-5ef3-11eb-837a-9737d169c91d.png)

[2021-01-25 11:06] Tisckkytt commented on #41
I'm very fond of the layout of Google's Gallery Go. I'd request you to have a look on that.
Tabs at the bottom & albums at the top & all pictures in between, it's very simple yet functional UI design.

[2021-01-25 14:21] leonlatsch opened #64 "New Toolbar Design"
**New Toolbar**

In order of #41 the toolbar gets a new design.

I have made a UI design:

![image](https://user-images.githubusercontent.com/50983026/105717987-107b2f00-5f21-11eb-9a8f-8a7f05153bba.png)

[2021-01-25 16:27] #64 closed

[2021-01-25 16:36] leonlatsch opened #66 "[Bug] Weird shadow appering after theme chaging"
![image](https://user-images.githubusercontent.com/50983026/105735403-eda64600-5f33-11eb-92be-219a82f099ff.png)

[2021-01-25 17:06] #66 closed

[2021-01-25 20:40] MonsieurBibo opened #67 "[Bug] spelling error in the github about part"
**Describe the bug**
Someone misspelled the word `Android` in the About page in the Github repo.

**Screenshots**

![image](https://user-images.githubusercontent.com/47726709/105763294-ebed7a00-5f55-11eb-967e-c92b0abc9fbf.png)

[2021-01-25 20:42] leonlatsch commented on #67
Haha :D

I fixed it, thank you

[2021-01-25 20:42] #67 closed

[2021-01-26 00:34] leonlatsch commented on #41
Sooooooo, after planning this out, I came to this conclusion:

- I will implement Collections
- They will work like tags but look like albums.
- You can add as photos to as many collections as you want
- The UI design will be as shown above

## **BUT**

This is a very big feature. It requires database migrations, chaning backup, and so on.
So this will be implemented in a new major version `2.0.0`

[2021-01-26 00:48] leonlatsch opened #68 "RELEASE-1.2.0 Polish"
Some translations are still missing.
I will keep these in en.
If they get submitted after release. It will be a hotfix.

[2021-01-26 01:24] leonlatsch commented on #68
see #69

[2021-01-26 01:24] #68 closed

[2021-01-27 00:28] IzzySoft opened #72 "Update adds proprietary dependency, breaking F-Droid support"
With your last release, you decided to add a license dialog. Unfortunately, you chose [play-services-oss-licenses](https://developers.google.com/android/guides/opensource) – which drags in proprietary libraries: GMS. That will make it impossible for F-Droid to update to this version, as it violates the inclusion policy.

Luckily, there are [some alternatives available](https://gitlab.com/snippets/

[2021-01-27 00:36] leonlatsch commented on #72
Hmm, thats weird.
@DRSchlaubi implemented this and the [github](https://github.com/google/play-services-plugins) says its Apache 2.0.

IF this breaks the fdroid support, I will of cource replace it.

[2021-01-27 00:40] leonlatsch commented on #72
I have red the snippet now. I will replace this with [SimpleLicenseDisplay](https://github.com/MarcDonald/SimpleLicenseDisplay) for version `1.2.1`

[2021-01-27 04:00] IzzySoft commented on #72
The library itself is indeed Apache-2.0 – which is why it's so easy to fall into that trap. Personally, I already get suspicious if a packageName starts with `com.google.android.` It's not the first time Google lures people in with FOSS and, if enough are locked-in, replaces free stuff with things from its "walled garden". Look where Android went, what happened to many AOSP apps…

But no need for

[2021-01-27 10:27] leonlatsch commented on #72
After looking around at some alternatives, I used the old report tool again and implemented a layout myself, based on a json report.

I may extract this as a library later on for others to use.
It looks like this:

![image](https://user-images.githubusercontent.com/50983026/105978260-a2567980-6092-11eb-8496-c57447ea2f81.png)

[2021-01-27 10:44] leonlatsch commented on #72
@IzzySoft `1.2.1` is now tagged.

[2021-01-27 10:44] #72 closed

[2021-01-27 13:22] comparesheriff commented on #57
I added 4 Photos for testing with different orientation of the camera while taking the photos. The "normal" orientation is horizontal with the camera on the left side for me. I don't know whether it is different for other vendors. Photos taken with Xiaomi integrated camera

The only thing different between the four pictures is the EXIF-Tag "orientation", which is one of the following:
* "Horizonta

[2021-01-27 14:15] OliverLew commented on #58
Or close the app after turning off screen? It's more intuitive to me, and more privacy.

[2021-01-27 14:15] leonlatsch commented on #58
@OliverLew I think we can do both.

[2021-01-27 18:47] IzzySoft commented on #72
Looks like 1.2.2 is out and has the issue fixed. Will re-enable auto-updates on F-Droid then – thanks for fixing it that fast!

@leonlatsch should you make that a library and have it available in a repo, please give me a ping so I can add it to my list of recommended alternatives.

[2021-01-27 19:35] fux0r2009 commented on #72
Hi @leonlatsch still no FDroid update ? still on 1.1.3

[2021-01-27 19:40] leonlatsch commented on #72
@fux0r2009 as you see @IzzySoft just turned updates back on 1 hour ago.
Version 1.2.2 will now be transfered to f-droid.

[2021-01-27 19:49] fux0r2009 commented on #72
Ok looking forward to it thanks :)

[2021-01-27 20:09] leonlatsch commented on #57
So this was one hell of a headache.
Apperantly Bitmap ready orientation exif data and rotates itself, when displayed.
Together with @comparesheriff we have now created a method to normalize the bitmap after that.

This way everything is dispalyed correctly and keep the exif orientation data in the file.

[2021-01-27 20:09] #57 closed

[2021-01-27 21:05] IzzySoft commented on #72
@fux0r2009 it will still take some days to arrive. I fear we've clogged our signer with the load of new releases and updates produced in the past weeks (I spent multiple weeks full-time on that, and trained some new contributors who also started hammering away at the huge backlog we had). There must still be more than hundred APKs in the signing queue alone currently (I'm e.g. eagerly waiting for

[2021-01-27 21:11] Droidphilev opened #73 "Create folders"
Hi,

Thanks for this nice app!

Is some kind of folder structure planned. If lots of pics are imported then it would be handy to organise them in folders.

Gr,
Phil

[2021-01-27 21:13] leonlatsch commented on #73
Hi thank you for enjoying the app.
Something like this is planned, please see #41

[2021-01-27 21:13] #73 closed

[2021-01-28 16:12] leonlatsch commented on #72
@IzzySoft I have moved the code to a library.

[GitHub](https://github.com/leonlatsch/OssLicenseView)
Its available on Jitpack.io

[2021-01-28 20:30] fux0r2009 commented on #72
@IzzySoft I see thank you for the clarifications and also thank you very much for all your hard work and I hope that in the future this process could still be automated while maintaining the same level of security 👍

Best regards

[2021-01-28 23:09] IzzySoft commented on #72
Thanks! Added it to my recommendation list :smiley:

We're on it. Sylvia is just taking the code of my library scanner (written in PHP) and adapts it for use with fdroidscanner (written in Python). So in the hopefully near future, such cases would be caught right at the start of a build automatically.

Oh, btw, if you're interested: My scanner is openly available. I finally managed to write a litt

[2021-01-29 01:00] fux0r2009 commented on #72
Wonderful News! I will wait for the English version to look at it since I only know "Danke" In German hhh

[2021-01-29 02:32] IzzySoft commented on #72
OK, go for it then – I've just put it online a minute ago. Same URL (chooses the language depending on your browser settings – but has a "flag" in the upper-right corner if you don't like the choice :wink:)

[2021-01-29 11:34] fux0r2009 commented on #72
@IzzySoft Thanks!

By the way just wanna ask you if the following statement is true about Fdroid? :

_**"The bulk of applications distributed through fdroid are signed by keys that belong to the fdroid maintainers, and which are kept online. This means that the fdroid maintainers themselves, or any attackers who compromise fdroid, are capable of pushing malware to your device."**_

And is so how v

[2021-01-29 12:30] IzzySoft commented on #72
Source? To my knowledge, that's incorrect:

* "keys that belong to the fdroid maintainers": wrong
* "and which are kept online": totally wrong. Signing happens on an air-gapped machine. The private keys are at no time exposed.

Evaluate the remaining parts yourself.

So again: source of that misinformation?

[2021-01-29 16:28] fux0r2009 commented on #72
@IzzySoft Thank you for your response and yes you are correct I was looking up same privacy focused messaging apps and I saw signal post on reddit as to why they don't want to make signal available on F-droid so I was wondering... But know you are clarifying things thanks!

[2021-01-29 17:43] IzzySoft commented on #72
Are you saying that misinformation (posted at Github in 2013) was repeated on Reddit more recently – despite better knowledge, as mvdan clarified it back then? Because that then would mean intentional malign behavior and defamation. I'd never expected that deep a fall. If so, can you please give a link to that Reddit post?

[2021-01-30 15:10] fux0r2009 commented on #72
There was other reddit posts but they were referencing the same other post so I think its mostly just explanations as to why signal dev was against Fdroid publishing.

[2021-01-30 16:02] IzzySoft commented on #72
Ah, OK. I knew Moxie is a bit strange, but that would have surprised me even more. Enough as it is. Thanks!

[2021-01-31 21:21] Tisckkytt commented on #59
Some ideas to safeguard the feature :
Require biometric auth as cool down option, so that to be certain if it's an intruder or the actual owner himself, if success on bio auth, attempt amount is reset. [This will help prevent deletion of the safe, if the user himself forgets the pass code & tries to access trying out all possible combinations he would have set for the safe]

As an additional optio

[2021-02-01 14:36] leonlatsch opened #75 "[Translations] Missing translations"
**There are translations missing for version 2.0.0**

@Ismael034 - Missing español translations ✅
@sr093906  - missing chinese translation✅
@mezysinc - missing protugese translation

Please add there once you find the time 🙂

[2021-02-01 18:58] User1l0 opened #77 "[Feature] add biometric auth and import any type of file support like zip apk etc"

[2021-02-01 19:14] leonlatsch commented on #77
- Biometic auth is already planned (#45)
- Videos are planned for the future (#36). Other file types may follow, but the main focus will be media files. Photok is not a encrypted file manager.

Thank you for your contribution, I will close this. Please look at the referenced issues.

[2021-02-01 19:14] #77 closed

[2021-02-01 20:47] ebanDev commented on #36
When do you approximately think the v2.0.0 will be released ?

[2021-02-01 21:08] leonlatsch commented on #36
Since I am working on this alone in my free time, it really depends on how much time I have for it.

[2021-02-01 21:17] User1l0 commented on #77
But it could be, photoc literally stores picture files in zip like archive container, it's not probem to add file support, if the tumbnail is the problem for the other files types, it can be default file icon thumb, its very useful feature, there's no other like app in f droid to support this simple encrypted archive container feature, so you can add and make easier for users to use less apps, and

[2021-02-01 21:29] leonlatsch commented on #77
So.

Photok is designed and made to be a gallery, and I will keep it like that.

But, I could imagine to support the type "file" in the future. If so, it won't become the main focus of this project.

[2021-02-01 21:33] leonlatsch opened #78 "[Feature] New Features Dialog"
In future releases, there should be a dialog to pop up one time, if there are new features.

Could look like this:

![image](https://user-images.githubusercontent.com/50983026/106520649-62055a00-64dd-11eb-97c0-4ffb73e0630a.png)

[2021-02-01 22:15] ralaud commented on #77
You could use Cryptomator (paid app, it is in IzzyOnDroid F-droid repo) for files. Or just create a veracrypt container and open it with EDS Lite.

In my opinion, there should not be files in Photok.

[2021-02-01 23:10] fux0r2009 commented on #77
I second that I think photok should only support Photos, Videos and Audio files nothing more (Multimedia files) but it's true that we need a veracrypt like app for fdroid like EDS Lite but with the premium feautures!

[2021-02-02 13:00] Ezhurino opened #81 "Call number not working"
the code (*#*#1234#*#*) doesn't work on my phone, is there anything that i forgot?
i also checked the permissions and everything's good. am i missing something?
opening the app from the playstore or app settings doesn't work (guess that's a feature).
is there a way to open the app again without the number or deleting it? i didn't even get to make a backup :(

My pictures are important and i don't

[2021-02-02 14:37] leonlatsch commented on #81
You will have to launch it with `*#*#[code]#*#*` not `##[code]##`.

[2021-02-02 14:38] leonlatsch commented on #81
Btw. you can always test the launch code, since you can always launch it from the phone dialer, without hiding Photok.

[2021-02-02 17:48] cm157 commented on #45
on devices that have hardware backed key stores like the titan m chip that provide significantly higher assurance for security would this not be better place to store instead of with app config which sounds much less secure ?

[2021-02-02 17:52] leonlatsch commented on #45
The password is not really saved in the app config.
This is just a bcrypt hash, used to check against the entered password.

The encryption key is generated from the password every time.

Anyway, the android keystore would be the place to store the encryption key, if fingerprint auth is enabled.

[2021-02-02 19:24] leonlatsch commented on #81
Did it work?
If so, please close this :D

[2021-02-02 20:09] #78 closed

[2021-02-02 20:32] Ezhurino commented on #81
it didn't work, and i did it right, the app is already hidden (idiot me thought didn't think through to test the code first)
i can't open it from anywhere else on my phone since that just redirects me to my dialer.
this is how it looks like;
https://user-images.githubusercontent.com/76562252/106658653-d8699100-659d-11eb-81b0-87703f3194ed.mp4

[2021-02-02 21:04] leonlatsch commented on #81
Hmm, and you are 100% sure, this is your configured code?

[2021-02-02 21:08] comparesheriff commented on #81
Two ideas from my side:

1. Maybe for some reason it didn't fully save your custom code? Then it would still be the default (1337)
2. Another thing, that happened to me once: I deleted the default code and entered my own code. The field automatically fills with a zero as a default (because you can't have an empty code). So my new code was my code, with an added zero at the end. -> So you could try

[2021-02-02 22:54] leonlatsch commented on #81
You should try what @comparesheriff suggested.

[2021-02-03 07:33] leonlatsch commented on #75
btw. @Ismael034 @sr093906 @mezysinc
You can always see how much your translation us up to date in the README.md
There are these labels, which are automatically generated from the resource files.

[2021-02-03 11:23] ebanDev commented on #36
No problem, good luck with your exams 💪

[2021-02-03 11:35] leonlatsch commented on #36
Thank you, alongside with collections, this is next on the list.
For more info about release roadmap see the [KanbanBoard](https://github.com/leonlatsch/Photok/projects/1)

[2021-02-03 15:10] Ezhurino commented on #81
yes, i'm 100% sure that's the code,
also @comparesheriff ideas didn't work;

https://user-images.githubusercontent.com/76562252/106766650-59766600-663a-11eb-8539-b33bec22b117.mp4

https://user-images.githubusercontent.com/76562252/106766658-5b402980-663a-11eb-94b1-ff9064c68647.mp4

[2021-02-03 15:29] leonlatsch commented on #81
I will set up an emulator for MIUI 12 and test if the code even works on MIUI. IF not, I will provide a hotfix for that.
If it works, we will need to search a little bit more :)

Also: What app version are you using and where did you get it from?

[2021-02-03 15:34] leonlatsch commented on #81
If you are fammiliar with adb, you could do a sysdump after entering the launchcode and post it here.

[2021-02-03 18:34] leonlatsch commented on #81
Tested on Xiaomi Mi9T Pro. Also not working.

Will provide a hotfix for that. Stay tuned :)

[2021-02-03 20:02] leonlatsch commented on #81
Found the issue. We will develop a way to fix this, but a workaround would be this:

In App Settings, open Other Permissions:
![image](https://user-images.githubusercontent.com/50983026/106802132-cf8ec300-6662-11eb-9dc3-903f4f9f03ff.png)

Then turn on this.
![image](https://user-images.githubusercontent.com/50983026/106802196-e7664700-6662-11eb-9270-f3fd0aec6b1c.png)

Worked in Xiaomi Mi9T Pro.

[2021-02-03 20:51] leonlatsch commented on #81
Since there is no way to check this setting, we will need to add a disclaimer describing this when hiding the app.
It will only show in Xiaomi.

[2021-02-03 22:55] Ezhurino commented on #81
i already looked through the settings before making this issue and found that, turned it on but nothing changed. i'll keep the app to be sure if somehow someday it fixed :). thanks for trying though

[2021-02-04 00:42] leonlatsch commented on #81
On out test device it worked after turning it on.

Maybe try what @comparesheriff suggested, with this option turned on.

[2021-02-04 15:49] User1l0 commented on #77
Eds lite is bad and useless app compared  to photok,
The reason i prefer photok over eds is for very nice simplicity

[2021-02-04 17:51] leonlatsch commented on #81
@Ezhurino what version do you have and where did you get it from?

[2021-02-04 23:33] ralaud commented on #77
Yea sadly thats true.. EDS even the premium version has to many bugs and Cryptomator is expensive.

We just need another app which can mount gocryptfs, for this, a filemanager would be necessary due to this necessarity files would not fit into Photok in my opinion.

To combine the structure of a filemanager and a simple gallery would not be easy I think. Try to search and open photos in a filemana

[2021-02-06 15:19] thomasfrobieter opened #82 "Support animated Gifs"
I'd like to play animated gifs, they're currently stuck on the first frame.

[2021-02-07 20:30] leonlatsch commented on #82
Since #36 will add importing videos, I will fix this simultaneously.

[2021-02-07 23:01] fux0r2009 commented on #81
I also have a note 7 but not on MIUI just AOSP ROM and I don't have such a problem! just so you know it's MIU issue or (MIUI Version/Variant he is using)

[2021-02-07 23:06] leonlatsch commented on #81
@fux0r2009 We tested this on MIUI 12.0.4. He got 12.0.4.

On your device, it worked after turning popups on as showed. So we dont really know what to do next.

[2021-02-07 23:14] fux0r2009 opened #83 "[Feature] Adding support for a second (or multiple) databases by password"
**Is your feature request related to a problem? Please describe.**
Photok only support one encrypted database but sometimes users would like to have and option to present a fake database or a legitimate second database that can be accessed by typing it's corresponding password

**Describe the solution you'd like**
The possibility to create a new database and accessing it by directly taping it's co

[2021-02-07 23:19] leonlatsch commented on #83
Interesting idea, will add this to the backlog for now.

Btw: You can reset the app in the settings under "Advanced".

[2021-02-07 23:20] fux0r2009 opened #84 "[Feature] Nuke Password (Password to delete database)"
**Is your feature request related to a problem? Please describe.**
In some circumstances deleting database needs to be stealthy

**Describe the solution you'd like**
The best way to silently delete a database is by entering a password giving the impression you are trying to unlock the database when in fact you are deleting it!

**Additional context**
It would be highly recommended to replace the d

[2021-02-07 23:22] fux0r2009 commented on #83
@leonlatsch  thank you, Yes I know you have a lot of requests and you are already doing a fantastic job and the more features you add the better but of course it's going to be on your own pace and when ever you can and want so no worries my friend 🥇

[2021-02-07 23:31] fux0r2009 commented on #81
He needs to update his ROM (or better yet ditch MIUI but it's just my opinion) that's his most realistic option at least until some solution is found....

[2021-02-07 23:33] leonlatsch commented on #81
IF!, he got Photok from GitHub, I could provide a special apk to extract a backup or something. If not, its kind of impossible to get the data, without rooting the phone.

[2021-02-08 14:54] leonlatsch opened #85 "Process elements in Service"
Maybe, we should move the logic from the process dialogs to a foreground service. This way, it wont be aborted, when pressing the home button.

[2021-02-08 14:55] leonlatsch commented on #75
Since this was just a reminder, I will close it for now. Please refer to the README and update your translation, if something is missing.

Thank you.

[2021-02-08 14:55] #75 closed

[2021-02-08 14:57] leonlatsch commented on #49
Since, #36 will implement a new import menu dialog, this wont be happening.

The FloatingActionMenu will ge removed in version `2.0.0`

[2021-02-09 23:44] #49 closed

[2021-02-10 22:55] cm157 opened #87 "[Feature] Take encrypted photo"
**Is your feature request related to a problem? Please describe.**
You want to take a photo but not store it even temporarily in non encrypted container.

**Describe the solution you'd like**
Allow the app to directly capture photos from camera and store directly in app.

**Describe alternatives you've considered**
Taking a regular photo then transferring app. May leave forensically recoverable da

[2021-02-11 10:33] leonlatsch opened #88 "[REFACTORING] Some Refactorings"
_- [ ] Binding Converters should be injected by dagger too._ -> Not possible :(
- [x] Remove companion object in BaseApplication
- [x] Split up extensions

[2021-02-14 14:22] VioletFalcon commented on #84
I think just giving support for [Ripple](https://f-droid.org/packages/info.guardianproject.ripple/) is a better idea.

[2021-02-14 16:36] leonlatsch commented on #84
@VioletFalcon good idea, I dont know it yet, but will have a look into it.

[2021-02-14 17:25] fux0r2009 commented on #84
@VioletFalcon Yes that would be good but Ripple hasn't been updated for years now and even if it still works it's not guaranteed to still work in future android releases so having an In-app solution is always better in this case!

[2021-02-14 17:30] fux0r2009 commented on #87
@leonlatsch There is a video recorder app ([cryptocam](https://f-droid.org/en/packages/com.tnibler.cryptocam/)) that make use of keychain to securely encrypt the recorded video on the fly leaving no traces on the phone storage maybe you could adopt a similar system here just a proposition :)

[2021-02-14 20:18] VioletFalcon commented on #84
@fux0r2009 Well, probably you're right, because anyways official F-Droid client has the feature to uninstall any app you want with the panic trigger.

[2021-02-14 20:28] VioletFalcon commented on #58
I just want to say that Element already has a similar feature for inspiration (it uses it to open the bug reporter and log):
https://github.com/vector-im/element-android/tree/develop/vector/src/main/java/im/vector/app/features/rageshake
Which depends on: https://github.com/square/seismic
Please make this optional.

[2021-02-14 21:43] leonlatsch commented on #58
Nice reference 👍
Of course it will be optional.

[2021-02-14 21:52] leonlatsch commented on #84
@VioletFalcon Uninstalling the app will always delete the whole database, since backups of the internal files are turned of.

[2021-02-15 05:51] leonlatsch commented on #84
@VioletFalcon @fux0r2009 I dont really know ripple. Is it still known and used.
If so, we can add ripple support additionally.

[2021-02-15 06:45] VioletFalcon commented on #45
I think that one way to go could be:
- First, support for secondary databases #83 , distinguishing them from the main vault.
- Fingerprinting is only allowed on secondary databases, for less important data that can be accessed more conveniently, but less securely.
- This, plus a warning to the user, should suggest that the most sensitive data should be placed in the main vault in a most intuitive

[2021-02-15 07:02] VioletFalcon commented on #84
Idk, the maintainer is a F-Droid contributor, sure they can give a better response.
As I said, official F-Droid client already has the option to uninstall Photok + data with the panic trigger so, not really needed IMO

[2021-02-15 07:23] leonlatsch commented on #84
Maybe, but Photok is also available on Gplay and so on. I think, I will give it a try.

[2021-02-15 07:36] leonlatsch commented on #84
[This](https://github.com/SilenceIM/Silence/blob/8b2d61161716dcae33c7ae2fd9540931b632030a/src/org/smssecure/smssecure/PanicResponderActivity.java) looks pretty easy to implement and supports many panic buttons. Maybe I will do something like this in addition.

[2021-02-15 10:19] leonlatsch commented on #81
I will close this for now. Reopen if new informations are present.

[2021-02-15 10:19] #81 closed

[2021-02-15 10:42] fux0r2009 commented on #84
Yeah sure why not, If it's easy to implement it won't hurt thank you @leonlatsch for your work as always :)

[2021-02-18 11:52] leonlatsch opened #92 "Fix config on license plugin"
[Issue](https://github.com/jaredsburrows/gradle-license-plugin/issues/145) in Repository.

[2021-02-20 06:47] cm157 commented on #87
I don't mean anything that complicated. Simply that the photo is taken within the app so it is not saved even temporarily outside the encryption container

[2021-02-20 08:54] fux0r2009 commented on #87
what you are asking for my friend is very complicated so @leonlatsch needs some example app to make easier to make instead of working on the concept from scratch!

[2021-02-27 07:50] cm157 commented on #87
GitHub.com/Secure-File-Manager

Has camera integrated in app and will store file locally in app

[2021-02-27 14:42] fourteen-1 opened #97 "[Feature] Import whole (+nested) folders."
**Is your feature request related to a problem? Please describe.**
Problem is that i can't have folders in-app to categorize my photos as they currently are. i dont want all my photos randomly in one place. Also not being able to import whole folders into Photok is a huge problem.

**Describe the solution you'd like**
Import whole (+nested) folders & have FOLDERS in the app to categorize my photos

[2021-02-27 23:53] ralaud commented on #97
Related to #41

[2021-03-01 00:24] fux0r2009 commented on #87
@cm157 Wow didn't know about Secure file manager thanks for the info :)

[2021-03-01 06:35] leonlatsch commented on #97
Yes so collections are already planned for the next major release and will be implemented once videos are finished.
So, nedted folders may get complicated, but importing a folder as a collection is a good idea.

[2021-03-09 19:01] VioletFalcon opened #99 "Consider hardening key derivation"
Decryption seems surprisingly fast, maybe implementing an optional benchmark (or just detect the amount of ram memory and processor) to configure bcrypt to be more resistant can be a good idea, mid-end and high phones will benefit from this.
Or either use Argon2d / Argon2id , if it's possible (KeePassDX uses it)

[2021-03-10 08:02] leonlatsch commented on #99
Bcrypt is not used for encryption. BCrypt is only used for hashing your password, to check it.
AES-256 is used for encryption end decryption.

[2021-03-10 08:10] leonlatsch commented on #54
@fux0r2009 If I add this feature, should the roation be saved?
It would be easy to add a simple rotate button, just to view it in another way, but saving this, is something bigger.

[2021-03-10 08:12] leonlatsch commented on #97
I think the best way is to add a option to the collections feature, to directly import elements into a collection.
Is this a suitable solution for you @fourteen-1?

[2021-03-10 08:23] leonlatsch commented on #87
So I will implement this.
Not planned for any version yet.

I think i will use the new CameraX lib from Jetpack.

[2021-03-10 08:29] leonlatsch commented on #45
I don't know about this @VioletFalcon.
You should be able to use fingerprint everywhere.

Its just a matter of communicating, what it means to use it.
That the app needs to tell use user that his encryption key has to be saved, in order to use this feature.
This goes the same for backup codes or so.

[2021-03-10 14:37] leonlatsch opened #100 "[Feature] Confidential Mode"
The app should have a mode which does not show photo thumbnails.
If enabled, it it blurs the thumbnails and asks for a confirmation when you try to open one.

Additionally, there could be a tag for photos to be marked as confidetial.

[2021-03-10 21:03] fux0r2009 commented on #54
@leonlatsch Well at least if you can add the rotation button that's what's important, saving the orientation is just an nice to have... So please make the rotate button and if saving option is difficult and time consuming than we can do without :)

[2021-03-11 12:52] leonlatsch commented on #54
@fux0r2009 Okay, I will add the button and do some testing with saving it. If it turns out to be complicated, I won't do it.

[2021-03-11 12:53] leonlatsch commented on #54
**Final Definition**
- Add a Rotate Button in the image viewer
- Try to save rotation, of its not that complicated

[2021-03-11 13:02] leonlatsch commented on #84
@fux0r2009 @VioletFalcon Do you guys think support for panic buttons is enough?
I don't know if I like the nuke password.
Maybe I could add a button on the lock page to reset the app. But I already had this dilemma before release. Someone could just reset your app without the password. Which is not nice. BUT, they can do it anyway, because they could uninstall the app, soooo.

Whats your opinion?

[2021-03-11 13:10] leonlatsch commented on #99
@VioletFalcon So configuring bcypt won't change anything, because its not used for encryption.

Encryption might be slower, because it does more things than just encrypting some bytes. The thumbnail is created and encrypted, exif data gets normalized, etc.

I defenetly need to look into this, because it got kind of slow over the time, but I will close this for now, since it has nothing to do with

[2021-03-11 13:10] #99 closed

[2021-03-11 16:51] fux0r2009 commented on #84
@leonlatsch Yes the panic button support is nice to have but please don't give the option to put a button that could reset the app without a password as this would be catastrophic for the Non-saved data!

[2021-03-11 16:52] fux0r2009 commented on #54
@leonlatsch Yes thank you very much that would be more than enough and as always excellent work :) 👍

[2021-03-13 05:06] OliverLew commented on #45
I have a possibly stupid (since I am not familiar with android developing) question:

Isn't this already enough, the encryption key is safe if itself is encrypted with android keystore, right?

[2021-03-13 09:52] cm157 commented on #45
Yes, very safe.

[2021-03-13 10:42] leonlatsch commented on #45
Yes, this is the most secure way to implement this feature.

[2021-03-13 10:45] leonlatsch commented on #45
**Final Definition**

- Implement fingerprint unlock
- Store the encryption key in the Android Keystore
- Communicate to the user, that the key is being safed. And where it is getting safed

[2021-03-14 08:13] OliverLew opened #101 "[Bug] navigation bar is in light color even in dark theme"
**Describe the bug**
The navigation bar does not change color according to the theme. It's white in dark theme.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to settings
2. Change to dark theme
3. See the navigation bar is white

**Expected behavior**
The color of navigation bar matches the theme.

**Screenshots**
![Screenshot_20210314-160024](https://user-images.githubusercontent.com/1

[2021-03-14 09:03] leonlatsch commented on #101
I already noticed that one time.

Should be easy to fix 👍

[2021-03-16 19:24] cm157 commented on #36
Looking forward to this too

[2021-03-16 19:26] leonlatsch commented on #36
@cm157  Working on it right now on twitch 😄 (https://twitch.tv/leonlatsch)

[2021-03-18 20:30] ruralTom opened #102 "Secret Dialer code does not work"
**Describe the bug**
Set up a secret dialercode ##xxxx## and when entered into the dialer, it tries to verify the code with t mobile.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to set a dialer code
2. Click on dialer and try to launch the app via the dialer
3. T mobile tries to verify the code
4. See error

**Expected behavior**
My photon would launch

**Screenshots**
If applicable,

[2021-03-18 20:43] leonlatsch commented on #102
@ruralTom You described `Set up a secret dialercode ##xxxx##`

The pattern is: `*#*#xxxx#*#*`. Have you tried that?

[2021-03-18 21:06] ruralTom commented on #102
This wasn't a software or hardware issue

It was a wetware issue.

I *am* the bug. *forehead slap*

[2021-03-18 21:06] #102 closed

[2021-03-18 21:07] ruralTom commented on #102
I am so sorry I wasted your time

[2021-03-18 21:09] leonlatsch commented on #102
No problem. I may switch the font because this font is kind of not displaing the `*` well, as you can see:
![image](https://user-images.githubusercontent.com/50983026/111697950-85d6f200-8836-11eb-93a5-daa191d0a3a7.png)

[2021-04-21 03:39] pokegamer5547 opened #103 "[Feature]add support for sharing images to other apps"
**Is your feature request related to a problem? Please describe.**
Sharing image in app is not possible and it can be a deal breaker when I want to share it to a specific app only.
**Describe the solution you'd like**
Having a share option in app to other image to other apps like chatting apps.
**Additional context**
Maybe using contact provider of andoid night enable users to securely share image

[2021-04-21 07:57] pokegamer5547 commented on #87
@leonlatsch btw,will  this taking photo by using photox will contain exif data? I'm a little skeptical usually about metadata and want to remove it. if you are going to implement ability to take photo within photox someday, I think it would be cool if it doesn't contain exif data of anything sensitive except orientation.

[2021-04-21 08:00] leonlatsch commented on #87
@pokegamer5547 Good point. I may add an options to take a photo without exif data

[2021-04-21 08:03] leonlatsch commented on #103
Good Idea, I will have a look into that, but for now this is backlog.

Btw. I don't have any time for this projet atm, because I'm finishing my degree right now.
I hope I will have time for Photok again later this year.

[2021-04-21 08:03] pokegamer5547 commented on #87
@leonlatsch thats great! thanks for considering.

[2021-04-21 08:10] pokegamer5547 commented on #103
@leonlatsch oh I see, I can understand, it's alright. maintaining  life while building softwares isn't an easy thing. all the best for your degree :)

[2021-04-26 08:50] sivasren opened #104 "[Bug] app crashes while importing multiple photos"
Tried  to import around 400 photos through files app (com.google.android.documents.ui). Imported first 40-60 but then it crashed after I retried to import again it force closed again.
And secret launch code doesn't work.

I have S10e, One UI 3.1 Android 11. I didn't try on AOSP ROM if anyone has Samsung can you try import multiple photos?

[2021-04-27 10:19] leonlatsch commented on #104
Unfortunately I am not able to test this atm.
Import has been tested with 2000 photos before. I beleve it belongs to an error with a specific photo.

[2021-05-03 05:34] jdardel opened #105 "[Bug] Es kann jeweils nur eine Foto aus der Galerie übernommen werden"
Nachdem der Import von mehreren Fotos aus der Galerie anfänglich funktionierte, kann jetzt nur noch jeweils eine Foto übernommen werden.
Evtl. trat der Fehler auf, nachdem ich die App versteckte. Diese Funktion habe ich aber wieder rückgängig gemacht.

[2021-05-03 15:27] leonlatsch commented on #105
Hi,

erstmal: Ich würde dich bitten, falls es dir möglich ist, hier auf Englisch zu schreiben, damit andere Benutzer in Zukunft auch ihren Nutzen aus den Issues ziehen können.

Zu deinem Fehler, welches Verhalten tritt genau auf, wenn du versuchst mehrere Fotos zu importieren?

[2021-05-16 23:06] leonlatsch commented on #92
Maybe apply the plugin like suggested [here](https://github.com/jaredsburrows/gradle-license-plugin/issues/145#issuecomment-839916045)

[2021-05-29 16:00] herkyl commented on #36
@leonlatsch I see the video feature is a PR already, when do you think it will be released 😍 ?

[2021-05-29 21:08] leonlatsch commented on #36
This will take some time. Development is currently paused due to exams and so on.

I don't know when I will be able to continue development. Maybe something next month, maybe laternthis year. It will depent on how I can find time.

[2021-06-01 05:28] herkyl commented on #36
@leonlatsch good luck with your exams!

[2021-06-24 12:15] leonlatsch opened #107 "Fix behaviour when changing password with empty safe"
When the safe is empty the reencription dialog shows with 0/0.

It should just not show at all.

![image](https://user-images.githubusercontent.com/50983026/123261128-a62de100-d4f6-11eb-8c1e-550f4330d8dc.png)

[2021-06-27 14:18] vishwatejaaverager opened #108 "[Feature] *your feature goes here* if i select an image to hide then the image should dissappear from the gallery ....!!!!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-06-27 22:59] comparesheriff commented on #108
@vishwatejaaverager, please consider reworking your ticket.

It is not really clear what the problem and the suggested solution is.
_Tip: Use a short title (e.g. 'Don't show hidden image in gallery') and then explain in a few sentences what behaviour is lacking and what you would suggest instead._

From my understanding this is also already a suggested feature under #55 so please check if this alr

[2021-06-27 23:04] comparesheriff commented on #105
@jdardel, please answer, even if the bug doesn't exist on your end any longer.
It would be important to document weird bugs, so they can be fixed (or have work-arounds documented as long as there is no fix possible)

[2021-06-27 23:20] leonlatsch commented on #108
Yes as @comparesheriff mentioned. It seems like #55 already documented this issue. If so please tell us.

[2021-06-29 15:56] leonlatsch commented on #36
News!

The feature is now experimentally "working". Will now be tested by us.

[2021-06-30 14:35] #36 closed

[2021-06-30 20:43] leonlatsch commented on #108
I will close this for now. If #55 is not what you mean, feel free to reopen :)

[2021-06-30 20:43] #108 closed

[2021-06-30 20:51] leonlatsch opened #110 "Changes in Translation and missing translations."
With version 1.3.0 all strings with Photo/Photos were replaced with File/Files.

This was done for german end english. Please also update your translation like this.

Also please add missing translations right away. Thank you.

- [x] @sr093906
- [x] @mezysinc
- [x] @Ismael034

[2021-07-03 19:16] #110 closed

[2021-07-05 13:18] GovindasOM opened #115 "Option to not allow importing the same photo twice"
**Is your feature request related to a problem? Please describe.**
You can accidently import the same photo twice without noticing.

**Describe the solution you'd like**
Add option to not allow importing the same photo twice, when working with importing a lot of photos, it is easy to accidently import what has been previously imported.

**Describe alternatives you've considered**
Deleting every in

[2021-07-05 19:53] leonlatsch commented on #115
Yes, this is on purpose.
It was a design choice not to detect any duplicates.

Thats why its called "import" and not "move". Its the same reason why the originaly are not deleted.

Photok creates its own files while importing. The app won't assume a photo us the same just because it has the same name.

So this is a wont fix. Sorry.

[2021-07-05 19:54] #115 closed

[2021-07-05 20:14] GovindasOM commented on #115
it could check if pixels are the same, but I understand if this feature reduces security

[2021-07-06 20:39] leonlatsch commented on #107
Fixed with commit [841b760
](https://github.com/leonlatsch/Photok/commit/841b760beb2a9235ecc1b7846f375f066ecff28e)

[2021-07-06 20:39] #107 closed

[2021-07-08 16:55] #88 closed

[2021-07-08 21:06] leonlatsch commented on #82
This works fine:

[code]

[2021-07-09 18:12] leonlatsch commented on #82
Fixed in commit 26cc48a.

[2021-07-09 18:12] #82 closed

[2021-07-10 11:17] leonlatsch commented on #101
Fixed in 1.3.0.

Nav bar now has the same color as the Background.

[2021-07-10 11:17] #101 closed

[2021-07-10 13:54] leonlatsch commented on #105
Since there is no answer, I will close this. Feel free to reopen

[2021-07-10 13:54] #105 closed

[2021-07-10 14:00] leonlatsch commented on #97
So, Importing whole folders is possible atm. Importing nested folders will not be done, but a direct import into a collection will be implementedwith #41.
So this will be closed.

[2021-07-10 14:00] #97 closed

[2021-07-11 10:27] leonlatsch opened #118 "Some deprecations"
As the build indicates, some dependencies are deprecated.
We should fix them soon.

[code]

[2021-07-12 08:01] cyanide-meal opened #119 "[Feature] *webp format support? *"
I get the message "some elements could not get processed" when trying to import .webp files which I assume happens because it's not supported? could it be an issue with the hardware?
anyway the reason I ask is because .webp files tend to come out much smaller than gifs, let alone mp4s etc. it would be greatly appreciated.

[2021-07-13 09:12] CaptainQuake opened #120 "[Feature] *Add folder*"
Please add support for folders and subfolders.

[2021-07-13 09:28] leonlatsch commented on #120
#41

[2021-07-13 09:28] #120 closed

[2021-07-13 17:10] leonlatsch commented on #119
HI, this seems resonable. But backlog for now.

Thank you for your contribution :)

[2021-07-21 20:28] leonlatsch commented on #41
## Update
An update to Room 2.4.0 should happen before this gets worked on. Version 2.4.0 automates database migrations :)
2.4.0 is currently in alpha04

[2021-07-22 18:27] mubashir-rehman opened #124 "[Feature] Face Recognition"
**Is your feature request related to a problem? Please describe.**
It is hard to find pictures of a person when scrolling through hundreds of pictures while most of which are memes.

**Describe the solution you'd like**
A face recognition feature and then tagging images with faces and names assigned to those faces would be great. Along with that, a separate tab for list of detected faces would be

[2021-07-23 13:30] comparesheriff commented on #124
This probably only can be implemented after #41 is done. Then Photok will have a base structure to build upon for folders/tags.

Additionally this should be deactivated by default, as I believe this isn't a priority for most users and will probably have an impact on the performance of the app while importing images (scanning every imported image for faces).

@leonlatsch I couldn't find the source

[2021-07-26 14:36] mubashir-rehman commented on #124
GalleryGo is closed source. https://play.google.com/store/apps/details?id=com.google.android.apps.photosgo&hl=en&gl=US

[2021-07-26 20:09] leonlatsch commented on #124
When you have a look at #41, the planned UI design for collections is already inspired by Gallery Go.

This feature would be an addition to the collections feature.

[2021-07-27 02:24] mubashir-rehman commented on #124
I did look at the issue and was amazed that I think like others too. I have been using GalleryGo for its design and features for a long time. But it lacks ability to create a pin protected safe and adding tags to the pics. It does all the work by itself with no room for customization.

[2021-07-29 11:09] leonlatsch opened #125 "Provide app privacy and security information for Google Play's safety section"
Source:
https://support.google.com/googleplay/android-developer/answer/10787469

The new section in Google Play will be available by October 2021

[2021-07-31 16:41] GovindasOM commented on #41
I'm really excited for this feature, can't wait to move my entire gallery to Photok once this gets made

[2021-08-07 15:17] Xyde opened #130 "Workaround to launch hid app while bypassing this message `Dialer: Not registered on network.`"
**Is your feature request related to a problem? Please describe.**
Secret code doesn't work with android devices not on a metered connection. Not sure if intended behavior or not.

**Describe the solution you'd like** **Describe alternatives you've considered**
Use the calculator to launch instead of dialer, or more thorough instructions on how to configurate the dialer.

[2021-08-08 09:02] hellyeahmfs opened #133 "Not available on F-droid repo anymore?"
Is this app going to available on izzyondroid repo only?
Or its just lagging behind in updates?

[2021-08-08 09:19] leonlatsch commented on #133
Yes it is available: https://f-droid.org/en/packages/dev.leonlatsch.photok/

[2021-08-08 11:24] hellyeahmfs commented on #133
But the latest version available on f-droid repo is 1.3.2.16 .

[2021-08-08 11:33] leonlatsch commented on #133
Yes, whenever I release a new version via GitHub F-Droid gets notified and a maintainer has to check it before.

Since F-Droid does not have that many maintainers, this process can take a few weeks.

[2021-08-08 12:50] hellyeahmfs commented on #133
Ok got it. 🙂

[2021-08-08 12:50] #133 closed

[2021-08-13 15:14] leonlatsch commented on #130
For me the launch code works when turning off any internet connection.

Could you please describe a more detailed "steps to reproduce"?

[2021-08-13 15:18] leonlatsch opened #134 "Update to Android 12"
ToDo's
- [x] Update
- [x] Check if encryption is still working since some internal libs will be replaced

[2021-08-13 15:47] #92 closed

[2021-08-14 08:59] leonlatsch opened #137 "[Automation] Create open source license report at release candidate creation"
- [x] LicenseReleaseReport at Create RC (no longer blocked by #92)

[2021-08-15 06:50] jerryn70 opened #139 "Video player enhancement"
What about improving the video player with touch gusters.

![](https://i.imgur.com/CIKUAdA.jpg)

[2021-08-15 08:39] leonlatsch commented on #139
Good Idea. 👍

[2021-08-15 11:04] jerryn70 commented on #139
@leonlatsch Thank you . Look at this video player for reference. https://github.com/moneytoo/Player

[2021-08-15 12:46] hellyeahmfs commented on #103
Yeah. This is a deal breaker for me. Hope this is comes very soon. 🤩

[2021-08-17 12:06] jerryn70 commented on #130
@leonlatsch dialing the serect code not opening the app what to do ? All my data is there. Turned off internet and tried but not opening. Pls help

[2021-08-17 12:21] comparesheriff commented on #130
@jerryn70 Sorry to hear that! Can you please provide more details to reproduce?

Phone (Brand + Version):
Android Version:
Dialer App:
Other relevant installed Stuff:

Steps to reproduce (How did you get there? Did you import Stuff first, or just enabled the secret code? Did it ever work or did it fail the first time? Did you change the code? What was your input in the dialer app?)

[2021-08-17 12:52] jerryn70 commented on #130
@comparesheriff

Device : Xiaomi redmi note 7 pro
Android version : 10
Dialer app : phones pre installed dialer ( i think xiaomi's own dialer app)

I just installed the app from fdroid and imported all my data, then set the secret pin and hide the app . After that I used dialer *#*#code#*#* but nothing happens . I tried so many times but the app was not opening.

[2021-08-17 12:59] leonlatsch commented on #130
Have you tried the right pattern?: `*#*#0000#*#*

[2021-08-17 13:00] comparesheriff commented on #130
@jerryn70
Thank you for the quick response. Have you tried other hidden codes on your dialer yet?

For example on my device `*#*#225#*#*` gives the info of internal calendars.
You can have a look at [Hidden Codes on XDA](https://www.xda-developers.com/android-secret-codes/) to try some. Please report back if any dialer code works, so we can be sure that the dialer app is capable of opening these c

[2021-08-17 13:01] jerryn70 commented on #130
#I found a temporary fix for those who are locked out by setting up secret pin.

1) Go to your phones gallery (if don't have and gallery app then download any gallery app from playstore)

2) Open any image

3) Then click the share button

4) Choose photok app from the pop-up menu

5) Now the photok app will open and ask you for password

6) Type your password

7) Now you have entered inside the ap

[2021-08-17 13:09] leonlatsch commented on #130
Thats one option 😅

[2021-08-17 13:10] leonlatsch commented on #130
Later today, I will add this to some FAQ or so.

Nevertheless we should think about how to handle these issues in the future.

[2021-08-17 15:33] leonlatsch commented on #130
I have an idea:
What about an option when hiding the app:

- When disabled the Photok icon just changes but still starts Photok normally
- When enabled the icon forwards to the phone dialer (like today)

Would be disabled by default.

[2021-08-17 15:37] leonlatsch commented on #130
@jerryn70 @Xyde @comparesheriff https://github.com/leonlatsch/Photok/discussions/141

[2021-08-17 15:41] leonlatsch opened #142 "[Feature] Toggle for "Hide App" feature"
**Is your feature request related to a problem? Please describe.**
Many users have problems launching the app when its hidden. So they cannot access their data.

**Describe the solution you'd like**
A toggle in the "Hide App"
- When disabled the Photok icon just changes but still starts Photok normally
- When enabled the icon forwards to the phone dialer (like today)

Default would be disabled.

*

[2021-08-17 15:42] leonlatsch commented on #130
Since there is a workaround and a follow-up issue I will close this.

[2021-08-17 15:42] #130 closed

[2021-08-18 11:52] hellyeahmfs opened #143 "[Bug] *App icon*"
**Describe the bug**
The app icon is not showing completely filled. It is showing as a circle in white square.

**Screenshots**
![App icon on home screen](https://user-images.githubusercontent.com/88529066/129892989-70e71684-7a47-4807-a782-a884b5ff9316.png)
 ![App icon in Aurora Store](https://user-images.githubusercontent.com/88529066/129893128-f440ce91-c234-4da4-8f8d-e417cdb604eb.png)

**Additio

[2021-08-18 18:19] leonlatsch commented on #133
@hellyeahmfs Funfact: F-Droid release was broken cause I moved the app versions to a different file 😄
Contacted F-Droid maintainers and they fixed it.

[2021-08-18 18:27] leonlatsch commented on #143
Hm, interesting. Currently the app only has a round icon. Maybe I should add a normal version

[2021-08-19 02:40] hellyeahmfs commented on #143
Yeah the app icon should be in square shape.

[2021-08-19 16:28] #143 closed

[2021-08-20 06:35] BlastboomStrice opened #145 "[Feature] "Copying" LockMyPix' (many) features"
Hello, I've been using LockMyPix for a while and I thought about goibg open source and using Photok instead. I'm probably asking too much and since I ~can't code, I'm ~just adding pressure to the developer(s). Anyways though, here we go:
There some things I've noticed which kinda prevent me from using the app.

The important ones are:
~~1)Inability to create folders amd organize my gallery.~~
2)No

[2021-08-20 07:38] comparesheriff commented on #145
@BlastboomStrice
Hey, thanks for all the nice feature suggestions!
We already have a few of them in the backlog and the collections are currently being developed.
Here are the issues to the corresponding features of yours, I believe:

Important:
1. Folders/Collections - #135
**2. Pattern Lock - No Issue Yet (although biometric unlock is another feature)**
3. Delete imported Media - #55
4. Shake-Lo

[2021-08-20 07:57] BlastboomStrice commented on #145
Ohhh (and I tried checking before posting...). Thanks  for the extremely fast response.😅 I'm going to cross out the duplicate ones. Would you like a few screenshots from Lockmypix to take a look at their settings?

[2021-08-20 09:35] BlastboomStrice commented on #41
Idea here: what about when you are moving an image to a collection, it gets moved to a different subfolder inside the main folder? One can have thousands pictures and tens (or hundreds of folders), so I think it'd be easier to keep it organised if there are folders for each collection. Also it may speed up loading times.

An issue this may have is that paths may become too long (as with lockmypix)

[2021-08-20 10:12] leonlatsch commented on #41
I will look into that later today, but let me say if me change this THIS much its defenetly not happening with this issue.

[2021-08-20 11:35] jerryn70 opened #146 "[Feature Request] Filter and Sort Options"
It is very helpful if app as an option to sort files according to
1, size
2, taken date
3, modified date
4, added date(date of the file that added to photok app)
5, file name

All in ascending and descending order.

And need  option to filter files like

Show only images
Show only videos

These sort and filter options are very important when we have large amount of files.

[2021-08-20 11:56] leonlatsch commented on #146
Good ideas! 👍

[2021-08-20 15:19] leonlatsch commented on #146
I think I won't implement all of these but most of them are a good idea. And fairly easy to implement 👍

[2021-08-20 15:31] leonlatsch commented on #104
@sivasren Since I am not able to reproduce this, I will close this for now.

Feel free to reopen tough.

[2021-08-20 15:31] #104 closed

[2021-08-20 15:33] leonlatsch commented on #145
As @comparesheriff mentioned. Please open seperate issues for the features.
Use the feature request template.

I will close this as a duplicate.

[2021-08-20 15:33] #145 closed

[2021-08-23 09:22] tarsonis123 opened #147 "[BUG] App crashes after opening a photo"
Updated today because of that but still the same. I can't view a picture in full size. Everything is alright in the gallery view.
Android 11 here on MIUI 12.5. If I can provide something please ask.

[2021-09-02 16:16] leonlatsch opened #150 "Publish to GPlay"

[2021-09-02 16:17] leonlatsch opened #151 "Publish to GitHub Release"

[2021-09-02 16:17] leonlatsch opened #152 "[Pipeline] Push fastlane files to GPlay to keep them synced"
The files in fastlane/metadata are currently only used by F-Droid.
Sync with GPlay happens by hand.

This should be automated via a new pipeline.
This way we just need to update them in the repo itself.

[2021-09-02 16:18] #137 closed

[2021-09-08 09:03] leonlatsch opened #153 "Photok Survey"
I want to create a survey for upcoming features and so on.

We need a software that's free and has the option for anonymous participation.

May also create a dialog in the app that asks the user.

[2021-09-09 19:55] leonlatsch opened #156 "Migrate to Splashscreen APi"

[2021-09-09 19:56] leonlatsch opened #157 "Migrate to SplashScreen API"
We should not migrate to the splashscreen api for a since android version.

Wait for the [jetpack library](https://developer.android.com/jetpack/androidx/releases/core#core_splashscreen_version_100_2) with downwards compatibility

A preparation [branch](https://github.com/leonlatsch/Photok/tree/feature/157-splashscreen-api) already exists.

[2021-09-09 19:56] #156 closed

[2021-09-09 19:57] leonlatsch commented on #134
Followup: #157

[2021-09-09 20:03] #134 closed

[2021-09-09 20:28] leonlatsch opened #158 "Add Survey into App as Dialog"
Followup for #153.

Add the link for the Survey inside the app.

[2021-09-09 20:34] leonlatsch commented on #153
Survey was created and will be posted by me.

Followup: #158

[2021-09-09 20:34] #153 closed

[2021-09-11 15:44] jerryn70 opened #160 "Export not working properly"
I have 2199 files in photok gallery both images and videos . When I select all files and try to export it to the gallery only 799 images is exported

[2021-09-11 17:47] leonlatsch commented on #160
If you select all, are really all of them selected?

If not, this could be a bug related to paging.

[2021-09-12 02:42] jerryn70 commented on #160
@leonlatsch all files are selected. I scrolled through all the files and confirmed.

[2021-09-12 10:13] leonlatsch commented on #160
@jerryn70 is the exporting dialog displaying the right amount of photos?

Eg: Exporting: 1/2199

Or is it displaying: 1/799

[2021-09-12 10:16] leonlatsch commented on #160
@jerryn70 the configured max for photos loaded at once is 800.

This would match pretty well 🤔

[2021-09-12 10:26] jerryn70 commented on #160
@leonlatsch 1/799

[2021-09-12 10:28] leonlatsch commented on #160
@jerryn70 Well, ok.

I will Label this a bug and fix it once I find the time.

As a workaround:

- Select all
- export
- Scroll down
- Export again

This should work, I guess.

[2021-09-12 10:50] jerryn70 commented on #160
@leonlatsch i tried this but it  creates too many duplicate file exports.

[2021-09-12 18:26] uuuussseer opened #161 "[Feature] Add Photo/Video Editor"
**Is your feature request related to a problem? Please describe.**
When I import a image/video into the app, I may want to edit it after. As of now, I can't. It would be nice to have the ability to do this. Once issue #87 (take encrypted photo) is implemented, it would be useful to have the image/video completely stay in the app. This would leave no forensically recoverable data on the device.

**

[2021-09-23 04:53] jerryn70 commented on #160
@leonlatsch Another export error in the latest fdroid version. It shows finished but nothing is exported to the gallery.

![](https://i.imgur.com/ihPCyWo.jpg)

[2021-10-05 14:30] alxgnon opened #162 "[Feature] Slideshow"
I would like to be able to view pictures in a slideshow.

[2021-10-21 01:27] alxgnon commented on #147
This happens for me as well. It seems to happen for photos with an especially large resolution. It also happens randomly at some points. (?)

Usually when it happens to me, the app gets slower and slower to open pictures, until eventually, it crashes.

[2021-10-21 01:44] alxgnon opened #163 "[Bug] Wrong video deleted"
**Describe the bug**
In some circumstances, when deleting a video in a list, the previous video is deleted instead.

**To Reproduce**
I have not been able to reproduce this bug. It has happened to me twice. I will continue testing to see if I can figure out a method to reproduce it.

**Expected behavior**
The selected video should be deleted but instead the previous video was deleted.

**Smartphon

[2021-11-08 10:49] anonymort opened #164 "Can't login after hiding app, password change and batch import"
Context: set up app, set password, set app to dark mode. Set app to be hidden from app list and correctly noted the dialler code. Changed password. Imported about 20 images from gallery. App then closed. Attempted to access from recent, filled in password, app closes. Killed app in recent app list, entered the dialler code which opens the login screen, entered password and app closes. Password is

[2021-11-08 10:59] anonymort commented on #164
Ok interesting the photos didn't hide after all, so that's good.. But the app is still inaccessible.

[2021-11-27 01:07] leonlatsch commented on #45
Maybe use the Fingerprint hash tonencrypt the key.

[2021-11-27 01:09] leonlatsch commented on #147
Potential memory leak

[2021-11-27 01:12] leonlatsch commented on #125
**Remnder for @leonlatsch **

[2021-11-27 01:16] leonlatsch commented on #124
This is kind of out of scope for Photok.
Feel free to fork 🙂

[2021-11-27 01:16] #124 closed

[2021-11-27 01:17] #118 closed

[2021-11-27 01:18] #100 closed

[2021-11-28 07:09] alxgnon commented on #147
@leonlatsch That's what I thought about it as well.

[2021-11-28 17:26] leonlatsch commented on #161
Im sorry, but this is out of scope for Photok right now.

[2021-11-28 17:26] #161 closed

[2021-12-07 12:46] mubaid opened #165 "[Bug] Not able to restore backups on another device"
**Describe the bug**
The backups taken on old device are not being able to restore on new device. Total backup size is ~1.2GB. Photok Password is same on both devices.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Photok and Create a backup
2. Copy the backup file to new device
3. Start Photok on new device, set the password and restore backup
4. Fails on "Validating Backup" - the ap

[2021-12-07 21:51] leonlatsch commented on #160
The Problem
----

The multi selection is index based.

When selecting all, the item count is used for add all items. The item count also includes all placeholders, added by paging.

So the placeholders are selected, but no item lays behind it. Therefore they cannot be used.

[2021-12-07 21:55] leonlatsch commented on #160
We may think about dropping paging, since the data that is currently loaded paged, is not big.
Loading the thumbnails happens in the ViewHolder's onBind anyway.

[2021-12-16 15:19] pruebando opened #166 "[bug] cant launch hidden app"
Cant Launch hidden app

i hid the app and the launch code does nothing when i put it, i dont know why but it just doesnt work just deleted the text of the marker and just it

On a xiaomi redmi 9 pro f droid version 1.3.2

[2021-12-16 15:51] pruebando commented on #166
i even tried if i forgot the password and installed an app to see the dialer codes and it doesnt even appear

[2021-12-27 16:04] pruebando commented on #166
Hi it fixed randomly if it happens to you just wait a lot and try to share pics to the app

[2021-12-27 16:06] pruebando commented on #166
ok so you need to share one pic to the app, then enter and disable hide app

[2021-12-30 15:38] leonlatsch commented on #166
Yes, this is known on some devices and can get bypassed with this "hack"
See this #141

[2021-12-30 15:38] #166 closed

[2021-12-30 15:51] leonlatsch commented on #125
D

[2021-12-30 15:51] #125 closed

[2022-01-02 03:57] Dovakiin0 opened #167 "[Bug] Apps keep crashing after login"
**Describe the bug**
Cannot access the app as it keeps crashing right after login

**To Reproduce**
Steps to reproduce the behavior:
1. Go to login
2. Enter valid password
3. Crashes

**Expected behavior**
Should access the app when entered valid password

**Additional context**
I imported all photos and videos without second thought now the app wont even start. Can you help with this. Atleast can

[2022-01-05 17:05] #167 closed

[2022-01-10 09:24] TriStaRvOiD commented on #147
Once I had tried opening an image after import, Photok crashed.

Here's the log
https://www.toptal.com/developers/hastebin/pacehufile.properties

Something to do with the image being too large I believe.

[2022-01-22 13:26] johndoe432 opened #168 "Question about Privacy Policy"
The Privacy Policy of Photok says the following:

How can the app collect the mentioned data, if it do not have access to the internet?

[2022-01-22 13:35] leonlatsch commented on #168
This data is not collected by the app itself.

If you use the Google Play Version, the Google Play Services collect error logs, etc.

[2022-01-22 14:32] johndoe432 commented on #168
Oh, I understand, thanks for your answer and thanks for creating such a useful app 😄

[2022-01-22 14:49] #168 closed

[2022-01-22 15:11] leonlatsch commented on #147
The patebin is empty, please update this or post it here as a comment

[2022-01-22 15:40] TriStaRvOiD commented on #147
FATAL EXCEPTION: main
Process: dev.leonlatsch.photok, PID: 29379
java.lang.RuntimeException: Canvas: trying to draw too large(176000000bytes) bitmap.
	at android.graphics.RecordingCanvas.throwIfCannotDraw(RecordingCanvas.java:281)
	at android.graphics.BaseRecordingCanvas.drawBitmap(BaseRecordingCanvas.java:91)
	at android.graphics.drawable.BitmapDrawable.draw(BitmapDrawable.java:548)
	at android.w

[2022-01-22 15:42] TriStaRvOiD commented on #147
https://www.toptal.com/developers/hastebin/ubosukumaz.properties

[2022-02-18 18:54] leonlatsch commented on #152
no prio for now

[2022-02-18 18:54] #152 closed

[2022-02-18 19:03] #158 closed

[2022-03-29 15:04] misterAnderson90 opened #169 "Cryptographic APIs misuses"
I'm a PhD student interested in finding security vulnerabilities in open source projects.

We found a total of 21 warnings (indicating potential vulnerabilities) when running the CogniCrypt static analyzer (*) on Photok (or its library dependencies). We documented each one of these issues in private gists for the sake of confidentiality (non-disclosure).

Can you please let us know whether we can

[2022-04-02 00:35] leonlatsch commented on #169
You can reach out to me at: dev.leonlatsch@gmail.com

[2022-06-04 20:16] leonlatsch opened #170 "[Maintanance] Update Libraries"

[2022-06-05 18:44] #170 closed

[2022-06-15 08:12] yephny opened #175 "[Bug] 1.3.5 is not on F-Droid"
Although it shows up in Izzy's, version 1.3.5 is not on the official F-Droid repo, even after 2 repository updates following the release of this version. Is there something wrong with the F-Droid configuration on your end for the new version?

[2022-06-15 16:14] leonlatsch commented on #175
In the past, Fdroid took multiple days to update (for example last version took 11 days).

I'll keep waiting for f-droid for a while and reopen this in case its taking longer than eg. 14 days.

[2022-06-15 16:14] #175 closed

[2022-06-18 15:36] yephny commented on #41
Are you still considering to implement the features you mentioned in this issue?

[2022-06-18 15:45] yephny opened #176 "[Feature] Custom number of columns and higher quality thumbnails"
**Is your feature request related to a problem? Please describe.**
It's difficult to view images without opening them one by one. The fact that they load slowly when opened doesn't help.

**Describe the solution you'd like**
If you've used Simple Gallery on F-Droid before, it can increase/reduce the column count, which allows the user to change how many images they want to see at a time. It helps

[2022-06-19 09:51] leonlatsch commented on #41
Yes. This feature is the most requested one for Photok. There is just no active development for the app right now.

[2022-06-19 10:01] leonlatsch commented on #176
Thank you for the feature request.

This is a topic with many opinions.

An early version of Photok actually supported configuring the number of columns, but it didn't feel right.

I may have a second look into this.

About the thumbnail size:
Since the images are encrypted (thats why they load longer) there is no way to obtain a thumbnail from the files. They are saved separately. Therefore chang

[2022-06-19 15:59] yephny commented on #176
Thanks for hearing me out and deciding to give it a thought.

I don't understand the predicament when it comes to the thumbnails, however. If thumbnails can't be obtained because the images themselves are encrypted, how come there are still thumbnails in the app?

[2022-06-19 20:24] leonlatsch commented on #176
When the images are imported, a thumbnail gets saved as an image inside the app (also encrypted). These are shown in the gallery.
So for every image there is an original and a thumbnail file (both encrypted).

This is because android's api for automatically obtaining thumbnails only works for image, video files.

[2022-06-19 21:50] yephny commented on #176
@leonlatsch Oh, then, does the API not allow higher quality thumbnails to be taken? I'd not be bothered to re-import my images as long as better thumbnails will be available.

[2022-06-19 21:54] leonlatsch commented on #176
The api is not used. The thumbnails are just cropped smaller versions of the original image.

So yes, if I would implement the ability to customize the thumbnail size, it would not affect already imported images.

[2022-06-20 08:18] yephny commented on #176
That change makes a lot of sense, thanks.

[2022-06-20 09:38] Ilithy commented on #45
Do you have any news about this feature?
(It's missing a lot, especially since now most devices have a fingerprint reader).

Thank you very much

[2022-06-21 06:21] leonlatsch commented on #45
@Ilithy Currently, there is no active development on Photok.

But this feature is pretty high on the roadmap.

[2022-06-21 06:23] leonlatsch commented on #45
@Ilithy You can see the priorities for new features in this column of the project board:
https://github.com/leonlatsch/Photok/projects/1#column-15814101

[2022-06-21 12:19] Ilithy commented on #45
Thank you for the information, I did not look well enough my apologies, good luck for the development of this very good app

[2022-06-26 19:04] qua3k opened #177 "SECURITY: Fundamental wrong design and choice of primitives"
This application suffers from numerous fundamental problems in its cryptography, beginning with key derivation and ending with IV reuse.

The key derivation is broken. SHA-256 is a cryptographic hash function, not a purpose built KDF. It's meant to be extremely fast and as such, attackers can just make massive rainbow tables for the key. Modern KDFs (such as Argon2) are memory-hard and resistant a

[2022-06-29 16:50] leonlatsch commented on #177
Thank you for this detailed critique.

Since I am no security expert, I just implemented what I new worked (back then when I started developing the app).

This issue is defenetly an inspiration to maybe rethink the cryptography part in this app and implement/migrate to a more safer algorithm.

Leave some resources or more detailed explainations for me would be very kind.

[2022-06-29 16:59] leonlatsch commented on #177
The idea behind using a hash key for encrypting was that I don't need to save anything on device and the encryption key can just be hold in memory. But I understand that its not desiigned for that.

Although, for the fingerprint feature I may need to save the key on device anyways, so I will look into that.

[2022-06-29 17:03] chel1k opened #178 "Updated ru (Russian) translation"
I have translated your application into `ru` (*Russian*). Here is the xml:

<?xml version="1.0" encoding="utf-8"?>

<resources>

    <string name="app_name">Photok</string>
    <string name="common_copyright_notice">Copyright \\00A9 2020–2021 Leon Latsch</string>
    <string name="common_slash">/</string>
    <string name="common_percent">%</string>
    <string name="common_pipe">|</string>
    <s

[2022-06-29 18:06] leonlatsch commented on #178
Where?

[2022-06-29 18:33] #178 closed

[2022-08-05 19:23] mschmidm opened #179 "[Bug] *Importing from Android Sharing System imports every photo twice*"
**Describe the bug**
When importing photos from the android sharing system, all photos get imported twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the phone photo gallery.
2. Select some photos (or only one)
3. Use the sharing system and choose Photok
4. The import dialog of photok already shows the double amount of pictures
5. Every photo gets imported twice

**Expected behavi

[2022-08-18 09:24] leonlatsch commented on #179
I will try to reproduce it soon.

Thank you.

[2022-08-18 15:55] leonlatsch commented on #179
Could not reproduce :/

[2022-08-23 07:08] leonlatsch commented on #142
No prio for now

[2022-08-23 07:11] leonlatsch commented on #157
[Core SplashScreen API](https://developer.android.com/reference/kotlin/androidx/core/splashscreen/SplashScreen) seems to be stable

[2022-08-23 07:12] leonlatsch commented on #163
Would very likely be fixed with #160. So closing this one :)

[2022-08-23 07:12] #163 closed

[2022-08-24 19:25] leonlatsch commented on #165
Unfortunately, I wan't able to reproduce this. So this will be closed for now :/

If this is still bothering you, feel free to reopen.

[2022-08-24 19:25] #165 closed

[2022-08-24 19:28] leonlatsch commented on #179
Closing this for now, since I am not able to fix it.
If anybody is able to reproduce this, feel free to reopen :)

[2022-08-24 19:29] #157 closed

[2022-08-31 05:34] leonlatsch opened #181 "[Feature] Photok Recovery Menu"
**Feature Description**
Some users have problems with not being able to launch the hidden app from the phone dialer. Therefore I want to implement a recovery menu to open it again, since otherway the data is list.

The options for now should be:
- Open Photok
- Show app icon again
- Close

I want to show it in a specific way:
- Put the device in flight mode
- Open the fake phone dialer
- Open the

[2022-09-01 19:48] #181 closed

[2022-09-09 18:05] janez33 commented on #181
Thanks god I'm so smart I came to Closed issues and thank you for this recovery feature 🕺

[2022-09-10 14:25] mathix420 commented on #179
I have the same issue as well, I think I have identified when it occurs.
I am using Bitwarden on mobile, so after clicking share to Photok the password is prompted.

1. Sharing **ONE** picture to Photok.
2. Photok is opening and prompts for a password.
3. I click on the Bitwarden auto-fill utility
     ![picture](https://www.passageway.id/images/features/auto-fill-android/drawover.png)
4. It opens

[2022-09-10 14:27] leonlatsch commented on #179
Now this makes sense. Seems that the image is put into the list of images to be imported again when Bitwarden closes.

I will reopen end try to reproduce it soon.

[2022-09-10 22:45] leonlatsch commented on #179
I will consider this as confirmed. Hard to reproduce without Bitwarden, but the code for this feature definitely has a flaw.

[2022-09-10 22:51] leonlatsch commented on #179
Tried a fix in #187 . Maybe someone is able to test it out. I could also provide a apk if you need one. Like I said, hard to reproduce for me :/

[2022-09-11 03:05] mathix420 commented on #179
You can reproduce the same behavior by just showing the currently opened apps and then clicking back on Photok.
It seems to also be resuming the event and so duplicating all shared file.
If that still doesn't work on your side, I can try it myself with an APK.

[2022-09-11 11:30] mschmidm commented on #179
I am also using Bitwarden, this seems to be a cause. Showing the currently opened apps as @mathix420 suggested also leads to the bug for me. I can try the test myself with an APK too.

[2022-09-11 12:11] leonlatsch commented on #179
I tried reproducing with reopening from recent apps but it didn't occur.

But makes sense that it occurs, so that might be on my side.

[2022-09-13 06:05] leonlatsch commented on #179
[debug-build.zip](https://github.com/leonlatsch/Photok/files/9553960/debug-build.zip)
Here is the debug apk for you to test it

[2022-09-13 06:22] mschmidm commented on #179
I tried the APK and the bug is gone. When using Bitwarden and when showing the recently used apps.
Although I noticed a slightly different behaviour than before: the import dialog "Do you want to import..." appears before one has entered the password. If one clicks "no" or _clicks outside_ of the dialog, it is hidden as espected but shown again after entering the password.
Before the dialog only a

[2022-09-13 06:28] leonlatsch commented on #179
Nice. I will look into that again. But good to know that the bug is fixed.

[2022-09-15 15:29] leonlatsch commented on #179
So, again I cannot reproduce the opening of the dialog twice. For me it opens just as expected :/

[2022-09-15 16:07] #179 closed

[2022-09-15 16:08] leonlatsch commented on #179
The fix for this is now merged and will be released anytime soon.

Thank you for the testing.

[2022-09-23 07:01] SeleDreams commented on #160
This issue is still present for me

[2022-09-29 15:08] leonlatsch commented on #160
I know, sorry about that.

This is a complex issue wich involves rewriting a bug chunk of logic.

[2022-10-02 10:16] RequestPrivacy opened #192 "[Bug] Can't add pictures, videos or imports from backup"
**To Reproduce**
Steps to reproduce the behavior:
1. Install Photok and set-up a PIN
2. In the newly created safe click on the + menu at the bottom right
3. Click on one of the 3 different options for importing
4. Nothing happens, except a small glitch where it seems as if the background of Photok seems to be focused again (i.e. the darkened background picture of the safe is white again).

**Expec

[2022-10-06 05:11] leonlatsch commented on #192
Hi,

I have already experienced this during development.

Seems to be an issue with Android 13. I will try my best to fix this ASAP.

Thank you for reporting :)

[2022-10-06 20:06] canary5 commented on #192
Can confirm on 6a pixel, stopped working after a13

[2022-10-06 21:43] #192 closed

[2022-10-06 21:44] leonlatsch commented on #192
Fixed in #193 and will be released with 1.4.2 within the next days

[2022-10-07 06:43] RequestPrivacy commented on #192
Thanks for the quick fix. Will try out on 1.4.2 once it's released

[2022-10-10 05:33] leonlatsch commented on #177
Since there seems to be no more conversation on this topic.

Please note that your complaints about it, have been taken into account.

[2022-10-10 05:34] #177 closed

[2022-10-27 17:51] ulph0 opened #197 "option to select a storage folder for encrypted photos and videos on sdcard"
**Is your feature request related to a problem? Please describe.**
I am using a pretty old phone with small internal storage and have to store the photos and videos on my sd-card.

**Describe the solution you'd like**
please add an option to store the encrypted files on sd-card. i am aware that that is kind of security flawm bu its even better than to store unprotected photos/videos on sdcard and

[2022-10-30 16:22] leonlatsch commented on #197
Thank you for your feature request.

This was already requested in the past and I habe been thinking about this for a while.
It seems to be the right this for the future so I will keep this issue open. BUT be aware of that there is no feature development on Photok right now.

[2022-11-12 15:04] #147 closed

[2022-11-27 10:44] leonlatsch opened #199 "[Technical] Wrong app state when sharing to Photok & app in background"
1. Unlock Photok
2. Go to home
3. Share an element to Photok
4. The import confirm dialog is shown, because the app state is still "unlocked"